@font-face {
   font-family: 'AnyConv.com__Panton-BlackCaps';
   font-display: swap;
   src: url('file:///C:/Users/Shadow/Music/Tokyo%20Treat/Tokyotreat-link-01/fonts/AnyConv.com__Panton-BlackCaps/font.ttf');
}
